@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: 'Work Sans',
    sans-serif;
}



.flex-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 300px;
}

h1 {
    font-family: 'Merriweather',
        serif;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }
}
