html {
    overflow-x: hidden;
}

.image {
    width: 400px;
    margin: 32px;
}

.image-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .image {
        width: 300px;
    }
}